/* Estilo para agregar margen inferior a los items */
ion-item.ion-margin-bottom {
    --padding-bottom: 15px; /* Ajuste del espaciado inferior */
  }
  
  .custom-button {
    --background: #830815; /* Color de fondo rojo */
    --color: #fff; /* Color de texto blanco */
    --border-radius: 5px; /* Borde redondeado */
    width: 45%; /* Ancho del botón al 45% */
    margin-left: 60%; /* Margen izquierdo para ajustar la posición a la derecha */
    font-size: 14px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    padding: 18px; /* Espaciado interior */
    cursor: pointer; /* Cursor de puntero */
    text-align: center; /* Centrar texto */
  }
  
  .custom-button:hover {
    --background: #000; /* Color de fondo negro al pasar el ratón */
  }
  