
  ion-title {
    margin: 0 auto; /* Centrar el título en la cabecera */
    color: rgb(0, 0, 0);
  }

  ion-toolbar{
    --background: #00000000; /* Fondo negro puro */
  }
  
  ion-item  {
    --background: #83081400;
    --color: #000000;
  }
  
  .custom-background {
    /* Reemplaza la imagen de fondo con un color sólido o un degradado */
    --background: linear-gradient(to bottom, #f5f5dc, #d4b483); /* Degradado de beige a mostaza */
  }
  
  /* Estilo personalizado para los inputs y textarea */
  .custom-input {
    --color: black; /* Color de texto blanco */
    --background: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    border-bottom: 1px solid #666; /* Borde inferior */
    border-radius: 0; /* Sin borde redondeado */
    padding: 10px 5px; /* Espaciado interior */
    font-size: 14px; /* Tamaño de fuente */
  }
  
  /* Estilo personalizado para el botón */
  .custom-button {
    --background: #83081400; /* Color de fondo rojo */
    --color: #000000; /* Color de texto blanco */
    --border-radius: 5px; /* Borde redondeado */
    width: 45%; /* Ancho del botón al 45% */
    margin-left: 60%; /* Margen izquierdo para ajustar la posición a la derecha */
    font-size: 14px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    padding: 18px; /* Espaciado interior */
    cursor: pointer; /* Cursor de puntero */
    text-align: center; /* Centrar texto */
  }
  
  .custom-button:hover {
    --background: #000756; /* Color de fondo negro al pasar el ratón */
  }
  