<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">DIAGNÓSTICO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-background">
  <ion-toolbar>
    <!-- Aquí se coloca la imagen tipo banner -->
    <img src="../assets/icon/prueba6.png" class="banner-image" />
  </ion-toolbar>

  <form [formGroup]="formDiagnostico" class="ion-padding">
    <ion-item lines="none">
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input 
        formControlName="userEstu"
        placeholder="Ingrese su usuario"
        class="custom-input">
      </ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Categoría</ion-label>
      <ion-select 
        formControlName="categoria"
        placeholder="Seleccione una categoría">
        <ion-select-option 
          *ngFor="let categoria of Categorias; let i = index" 
          [value]="categoria.Id_Categoria">{{categoria.Nombre_Cat}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Diagnóstico</ion-label>
      <ion-textarea 
        formControlName="diagnostico"
        placeholder="Escriba el diagnóstico"
        rows="5"
        class="custom-input">
      </ion-textarea>
    </ion-item>

    <ion-button expand="block" class="custom-button" (click)="generarDiagnostico()">
      Registrar
    </ion-button>
  </form>
</ion-content>
