<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>report_estu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">report_estu</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="formReporEstu">
    <ion-list>

      <ion-item>
        <ion-input 
          formControlName="asunto"
          label="Asunto"
          labelPlacement="floating"
          placeholder="Resuma el asunto">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea 
          formControlName="descripcion"
          label="Descripcion"
          type="textarea"
          labelPlacement="floating"
          placeholder="Describa su reporte">
        </ion-textarea>
      </ion-item>

    </ion-list>
  </form>

  <ion-button expand="block" color="primary" (click)="NuevoReporteEstu()">Generar</ion-button>

</ion-content>
