<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">CHATS</ion-title>
    <ion-progress-bar id="progress-bar" type="determinate" value="0"></ion-progress-bar>
    <div class="active-indicator"></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <!-- Aquí se coloca la imagen tipo banner -->
    <img src="../assets/icon/prueba3.png" class="banner-image" />
  </ion-toolbar>

  <ion-list>
    <!-- Filas de conversaciones con imagen por defecto -->
    <ion-item *ngFor="let estudiante of estudiantes" lines="none" button (click)="presentActionSheet(estudiante)">
      <ion-thumbnail slot="start">
        <img src="https://ionicframework.com/docs/img/demos/thumbnail.svg" alt="Profile Picture" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ estudiante.Usuario }}</h2>
        <p>{{ estudiante.Correo }}</p>
        <p>Último mensaje</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
