ion-header {
  --background: #000000; /* Fondo negro puro */
  color: white; /* Color del texto blanco para mejor contraste */
}

ion-title {
  margin: 0 auto; /* Centrar el título en la cabecera */
}

ion-content {
  --background: #1c1c1c; /* Color oscuro para el fondo */
  color: white; /* Texto blanco */
}

.banner-image {
  width: 100%; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Ajusta la altura automáticamente según el ancho */
}

.search-text {
  text-align: center;
  color: #ffffff;
  padding: 10px;
  font-size: 1.2em;
}

.active-indicator {
  width: 12px;
  height: 12px;
  background-color: #047908; /* Color verde */
  border-radius: 50%; /* Para hacer el círculo */
  position: absolute; /* Posicionamiento absoluto */
  right: 10px; /* Alineado a la derecha */
  top: 50%; /* Alineado verticalmente al centro */
  transform: translateY(-50%); /* Ajuste fino para centrarlo verticalmente */
}

ion-list {
  padding: 10px;
}

ion-item {
  background-color: #1c1c1c; /* Color oscuro para combinar con el fondo */
  border-radius: 10px;
  margin-bottom: 10px;
}

ion-thumbnail img {
  border-radius: 50%;
}

ion-label h2, ion-label p {
  color: black; /* Color del texto blanco */
}

ion-label p {
  font-size: 0.8em;
  color: #aaaaaa; /* Color del texto secundario gris claro */
}

ion-segment-button {
  color: white; /* Color del texto de los segmentos */
}

