<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-progress-bar id="progress-bar" type="determinate" value="0"></ion-progress-bar>
    <div class="active-indicator"></div>
    <ion-title class="ion-text-center">CHATS</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
  <ion-toolbar>
    <!-- Aquí se coloca la imagen tipo banner -->
    <img src="../assets/icon/prueba3.png" class="banner-image" />
  </ion-toolbar>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let profesional of Profesionales; let i = index" button (click)="presentActionSheet(profesional)">
      <div class="profile-container">
        <ion-thumbnail class="profile-image">
          <img src="https://ionicframework.com/docs/img/demos/thumbnail.svg" alt="Profile Picture">
        </ion-thumbnail>
        <div class="profile-info">
          <h2>{{ profesional.Nombre }} {{ profesional.Apellido }}</h2>
          <p>Usuario: {{ profesional.Usuario }}</p>
          <p>Especialidad: {{ profesional.Especialidad }}</p>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>