
.active-indicator {
  width: 12px;
  height: 12px;
  background-color: #047908; /* Color verde */
  border-radius: 50%; /* Para hacer el círculo */
  position: absolute; /* Posicionamiento absoluto */
  right: 10px; /* Alineado a la derecha */
  top: 50%; /* Alineado verticalmente al centro */
  transform: translateY(-50%); /* Ajuste fino para centrarlo verticalmente */
}

.profile-container {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #ffffff00; /* Fondo blanco */
  border-bottom: 1px solid #dddddd00; /* Línea divisoria */
}

.profile-image {
  width: 50px; /* Tamaño fijo para la imagen circular */
  height: 50px;
  border-radius: 50%; /* Hace que la imagen sea circular */
  overflow: hidden; /* Asegura que la imagen no sobresalga del borde circular */
  border: 2px solid #dddddd00; /* Borde alrededor de la imagen */
  margin-right: 10px; /* Espacio entre la imagen y la información */
}

.profile-image img {
  width: 100%; /* Ajusta el tamaño de la imagen para que ocupe todo el contenedor circular */
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsión */
  display: block; /* Asegura que la imagen se comporte como un bloque dentro del contenedor */
}

.profile-info {
  flex: 1; /* El contenido de texto ocupa el espacio restante */
  text-align: left; /* Alinea el texto a la izquierda */
  margin-left: 15px; /* Ajuste de espacio entre la imagen y la información */
}

.profile-info h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0 0 5px 0; /* Espacio entre el nombre y el usuario/especialidad */
}

.profile-info p {
  font-size: 0.9em;
  margin: 0;
  color: #555; /* Color de texto gris */
}