ion-content {
  --background: linear-gradient(to bottom, #f5f5dc, #d4b483);     
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .form-container {
    width: 100%;
    max-width: 320px; /* Ancho máximo del formulario */
    background: transparent; /* Fondo transparente */
    padding: 20px;
    margin-top: 44vh; /* Ajusta la distancia desde la parte superior */
  }
  
  ion-list {
    width: 100%;
    background: transparent; /* Fondo transparente */
  }
  
  ion-item {
    --background: transparent; /* Fondo transparente para los items */
    --color: #ffffff; /* Color del texto */
    --placeholder-color: #cccccc; /* Color del placeholder */
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); /* Borde inferior para separar los ítems */
    margin-bottom: 5px; /* Espaciado entre los items */
    font-weight: bold;
  }
  
  ion-input, ion-select {
    --background: transparent; /* Fondo transparente para los campos de entrada */
    --color: #000000; /* Color del texto */
    --placeholder-color: #000000; /* Color del placeholder */
  }
  
  ion-button {
    margin-top: 10px;
    --background: rgba(52, 48, 165, 0) !important;
    --color: rgb(0, 0, 79) !important;
    transition: background-color 0.3s ease; /* Transición suave */
    --color: #000073; /* Color del texto del botón */
  }
  