<ion-content [fullscreen]="true">
  <img src="../assets/icon/FondoPrueba1.png" alt="Fondo de prueba" class="background-image">

  <!-- Contenido dentro de ion-content -->
  <div class="button-container">
    <ion-button expand="block" (click)="goToLogin()">Iniciar sesión</ion-button>
    <ion-button expand="block" (click)="goToLogup()">Registrarse</ion-button>
  </div>

  <!-- Aquí puedes colocar el resto del contenido que pertenece a ion-content si es necesario -->

  <!-- <ion-grid>
    <ion-row>
      <ion-col *ngFor = "let estudiante of estudiantes; let i = index">

        <ion-card>
          <ion-card-subtitle 
            class="ion-padding-horizontal
                   ion-padding-top"
            *ngIf="estudiante.Correo">
            <span>{{estudiante.Id_EstudianteRegis}} - </span>
            <span>{{estudiante.Correo}}</span>
          </ion-card-subtitle>

          <ion-card-title class="ion-padding-horizontal ion-padding-top">
            {{estudiante.Usuario}}
          </ion-card-title>

          <ion-card-content>
            Último mensaje
          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>

