ion-content {
  --background: none; /* Remueve cualquier fondo por defecto de ion-content */
}

.background-image {
  width: 100%;
  height: 100%; /* Ajusta al tamaño completo del contenido */
  object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 80%; /* Centra verticalmente */
  transform: translateY(-50%); /* Centra verticalmente */
  width: 80%; /* Ocupa todo el ancho */
  right: 32px;
}

.button-container ion-button {
  margin: 15px;
  width: 80%; /* Ajusta el ancho de los botones */
  font-weight: bold;
}

.button-container ion-button.button-solid {
  --background: rgba(52, 48, 165, 0) !important;
  --color: rgb(0, 0, 79) !important;
  transition: background-color 0.3s ease; /* Transición suave */
}

.button-container ion-button.button-solid:hover {
  --background: rgba(21, 0, 66, 0.195) !important;
}
