<ion-content [fullscreen]="true">
  <video autoplay muted loop id="video-background">
    <source src="../assets/Videos/fondo1.mp4" type="video/mp4">
    Tu navegador no soporta la etiqueta de video.
  </video>

  <div class="button-container">
    <ion-button expand="block" (click)="goToLogin()">Iniciar sesión</ion-button>
    <ion-button expand="block" (click)="goToLogup()">Registrarte</ion-button>
  </div>
  
  <ion-grid>
    <ion-row>
      <ion-col *ngFor = "let estudiante of estudiantes; let i = index">

        <ion-card>
          <ion-card-subtitle 
            class="ion-padding-horizontal
                   ion-padding-top"
            *ngIf="estudiante.Correo">
            <span>{{estudiante.Id_EstudianteRegis}} - </span>
            <span>{{estudiante.Correo}}</span>
          </ion-card-subtitle>

          <ion-card-title class="ion-padding-horizontal ion-padding-top">
            {{estudiante.Usuario}}
          </ion-card-title>

          <ion-card-content>
            Último mensaje
          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

