<ion-content [fullscreen]="true">
  <img src="../assets/icon/FondoPrueba2.png" alt="Fondo de prueba" class="background-image">

  <div class="overlay">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">LoginProfesional</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <div class="form-container">
      <form [formGroup]="formLoginProfesional">
        <br>       
        <ion-item>
          <ion-input 
            formControlName="usuario"
            label="Usuario"
            labelPlacement="floating"
            placeholder="Ingrese su usuario">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input 
            formControlName="password"
            label="Contraseña"
            type="password"   
            labelPlacement="floating"
            placeholder="Ingrese su contraseña">
          </ion-input>
        </ion-item>
      </form>
      <ion-text color="primary" (click)="newPass()" 
      style="cursor: pointer; display: block;">
        ¿Olvidaste tu contraseña?
      </ion-text>
      <ion-button expand="block" (click)="goToChatPendiente()">Ingresar
      </ion-button>
    </div>
  </div>
</ion-content>